.button {
  --text-color: var(--gray-6);
  --background-color: var(--gray-0);
  --background-color--hover: var(--gray-1);
  --border-color: var(--gray-1);
  --text-shadow-color: var(--gray-2);

  color: var(--text-color);
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  text-shadow: 0 1px 0 var(--text-shadow-color);

  &:hover {
    background-color: var(--background-color--hover);
  }

  @media (prefers-color-scheme: dark) {
    backdrop-filter: blur(10px);
    --text-color: var(--blue-1);
    --background-color: hsl(var(--blue-9-hsl) / 30%);
    --background-color--hover: var(--blue-8);
    --border-color: hsl(var(--blue-8-hsl) / 30%);
    --text-shadow-color: var(--blue-8);
  }

  &.blue {
    --text-color: var(--blue-6);
    --background-color: var(--blue-0);
    --background-color--hover: var(--blue-1);
    --border-color: var(--blue-1);
    --text-shadow-color: var(--blue-2);

    @media (prefers-color-scheme: dark) {
      --text-color: var(--blue-1);
      --background-color: hsl(var(--blue-9-hsl) / 30%);
      --background-color--hover: var(--blue-8);
      --border-color: hsl(var(--blue-8-hsl) / 30%);
      --text-shadow-color: var(--blue-8);
    }
  }

  &.green {
    --text-color: var(--green-6);
    --background-color: var(--green-0);
    --background-color--hover: var(--green-1);
    --border-color: var(--green-1);
    --text-shadow-color: var(--green-2);

    @media (prefers-color-scheme: dark) {
      --text-color: var(--green-1);
      --background-color: hsl(var(--green-9-hsl) / 30%);
      --background-color--hover: var(--green-8);
      --border-color: hsl(var(--green-8-hsl) / 30%);
      --text-shadow-color: var(--green-8);
    }
  }

  &.red {
    --text-color: var(--red-6);
    --background-color: var(--red-0);
    --background-color--hover: var(--red-1);
    --border-color: var(--red-1);
    --text-shadow-color: var(--red-2);

    @media (prefers-color-scheme: dark) {
      --text-color: var(--red-1);
      --background-color: hsl(var(--red-9-hsl) / 30%);
      --background-color--hover: var(--red-8);
      --border-color: hsl(var(--red-8-hsl) / 30%);
      --text-shadow-color: var(--red-8);
    }
  }
}