.container {
  height: 100%;
  padding: 0 18px;
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  > div {
    max-width: min(100%, calc(100vw - 36px));
    min-width: min(360px, 100%);

    scroll-snap-align: start;
    scroll-margin: 18px;
  }
}