.swimlane {
  height: 100%;
  background: var(--surface-3);
  padding: var(--size-4) 0;
  border: 1px solid var(--surface-4);
  border-radius: var(--radius-2);
  display: flex;
  flex-direction: column;
  transition: all 0.2s var(--ease-3);

  &.dragging {
    background: var(--blue-0);
    @media (prefers-color-scheme: dark) {
      background: var(--blue-9);
    }
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--size-4);
  margin-bottom: var(--size-4);

  .actions {
    display: flex;
    align-items: center;
  }
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
  padding: 0 var(--size-4);
}

.create {
  color: var(--green-6);
  background-color: var(--green-0);
  border: 1px solid var(--green-1);
  text-shadow: 0 1px 0 var(--green-2);

  &:hover {
    background-color: var(--green-1);
  }

  @media (prefers-color-scheme: dark) {
    color: var(--green-1);
    background-color: hsl(var(--green-9-hsl) / 30%);
    border: 1px solid hsl(var(--green-8-hsl) / 30%);
    text-shadow: 0 1px 0 var(--green-8);

    &:hover {
      background-color: var(--green-8);
    }
  }
}
